/*---------------
    RESET
--------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    DEBUG
--------------- */

.debug header{
    background-color: #ADD8E6;
}

.debug .nav{
    font-size: 25px;
    border: 2px dashed black;
    background-color: #DAA520;
}

.debug .link{
    border-left: dashed black 3px;
    border-right: dashed black 3px;
}

.debug .download-container{
    background-color: #00008B;
}
.debug .download{
    background-color: #EE82EE;
    border: dashed 2px black;
}

.debug .col-b{
    background-color: #1E90FF;
    border: dashed 2px black;
}

.debug .col-s{
    background-color: #FFC0CB;
    border: dashed 2px black;
}

/*---------------
    HEADER
--------------- */
.sec-nav{
    padding: 10px 15%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.link{
    width: 70%;
    text-align: center;
}

.download-container{
    display: flex;
    padding: 50px;

}

.download{
    max-width: 1400px;
    margin: auto;
    height: 400px;
    width: 900px;
    align-items: center;
}


/*---------------
    MAIN
--------------- */

.sec-main{
    display: flex;
    padding: 50px 16%;
    align-items: center;
}

.col-b{
    height: 500px;
    width: 100%;
}

.col-s{
    width: 800px;
    height: 500px;
}

.sec-main:nth-child(2n){
    background-color: #D3D3D3;
}

.sec-main.reverse{
    flex-direction: row-reverse;
}

